.operatorMode{
    padding-right: 118px;
    .actions{
         display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 0 32px 32px;
       .actionsLeft{
        display: flex;
        gap:24px;
        align-items: center;
            
     
        .modeButton{
            display: flex;
            align-items: center;
        width: 400px;
        height: 56px;
        background-color: $bgInputHover;
        border-radius: $RadiusM;
        -webkit-border-radius: $RadiusM;
        -moz-border-radius: $RadiusM;
        -ms-border-radius: $RadiusM;
        -o-border-radius: $RadiusM;
        }
        .timer{
            display: flex;
            padding-left: 54px;
            align-items: center;
            gap:10px;
            font:$fontBody;
        }
       } 
    }
      .sectionsEditor{
        width: 100%;
        padding-top: 32px;
        padding-left: 32px;
        display: flex;
        align-items: center;
        gap: 18px;

    .leftSection, .rightSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
max-width: 410px;
min-width: 340px;
width: 100%;

    }
    .centerSection{
        min-width: 828px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
 
    }
  
    .leftSection, .rightSection, .centerSection{
       height: 100vh;
        padding-top: 24px;
        border: 1px solid $borderInputProfile;
        border-radius:$RadiusM ;
        -webkit-border-radius:$RadiusM ;
        -moz-border-radius:$RadiusM ;
        -ms-border-radius:$RadiusM ;
        -o-border-radius:$RadiusM ;
}
.rightSection{
   
width: 410px;
//padding: 20px;
    .segmentedControl{
        max-height: 56px;
       
    }
    
}
}
}