.layout {
    display: flex;
    flex-direction: column;
  }
  
  .content {
    display: flex;
    flex-grow: 1; 
  }
  
  .main {
    flex-grow: 1;
    transition: margin-left 0.3s ease; 
  }
 