.userProfile{
    display: flex;
    align-items: center;
    justify-content: space-around;
    //width: 280px;
    //padding: 10px;

    .userPersonal{
        display: flex;
        flex-direction: column;
        text-align: left;
        .name{
            font: $fontMain;
        }
        .email{
            font:$fontSmall;
            color: $textDisabled;
        }
    }
}
