.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s;
  border-radius: $RadiusXXL;
  -webkit-border-radius: $RadiusXXL;
  -moz-border-radius: $RadiusXXL;
  -ms-border-radius: $RadiusXXL;
  -o-border-radius: $RadiusXXL;
  &.primary {
    color: $textActiveButton;
    background-color: $bgPrimary;
    border: 1px solid $borderPrimary;

    &:hover {
      background-color: $bgPrimaryHover;
      border: 1px solid $borderPrimary;
      color: $textActiveButton;
    }
 
  }

  &.default {
    color: $textGeneral;
    background-color: $white;
    border: 1px solid $borderInput;
  }

  &.disabled {
    background-color: $bgDisabled;
    border: 1px solid $borderDisabled;
    color: $textDisabled;
    cursor: no-drop;

    &:hover {
      background-color: $bgDisabled;
      border: 1px solid $borderDisabled;
      color: $textDisabled;
    }
  }
  &.exitStyle{
    color: $textActiveButton;
    background-color: $bgExitButton;
    border: none;
    svg{
    margin-right: 5px ;
    }
    &:hover{
      opacity: 0.5;
    }
  }
  &.noBorderScript{
     color: $textOptionScripts;
    background-color: $gray-900 ;
    border: none;
    &:active{
      background-color: $bgPrimary;
      color: $textActiveButton;
      border-radius: $RadiusM;
      -webkit-border-radius: $RadiusM;
      -moz-border-radius: $RadiusM;
      -ms-border-radius: $RadiusM;
      -o-border-radius: $RadiusM;
}
  }
  &.scriptStyle{
    color: $textOptionScripts;
    background-color: $gray-900 ;
    border-color: $borderButtonUserProfile;
    border-radius: $RadiusM;
    -webkit-border-radius: $RadiusM;
    -moz-border-radius: $RadiusM;
    -ms-border-radius: $RadiusM;
    -o-border-radius: $RadiusM;
    svg{
      color: $emerald;
      margin-right: 10px;
    }
    &:hover{
      opacity: 0.5;
    }
}
&.borderMedium{
  border-radius: $RadiusM;
  -webkit-border-radius: $RadiusM;
  -moz-border-radius: $RadiusM;
  -ms-border-radius: $RadiusM;
  -o-border-radius: $RadiusM;
}
&.clear{
  border: none;
  color: $textOptionScripts ;
}
  &.small {
    width: 160px;
    height: 40px;
    font: $fontMain;
    padding: 12px;
    border-radius:$RadiusM ;
    -webkit-border-radius:$RadiusM ;
    -moz-border-radius:$RadiusM ;
    -ms-border-radius:$RadiusM ;
    -o-border-radius:$RadiusM ;
}
&.primaryBorder{
  border: 1px solid $borderButtonUserProfile;
}
  &.medium {
    font: $fontBody;
  width: 259px;
  height: 56px;
  }
&.mediumScript{
  min-width: 246px;
  height: 56px;
  font: $fontMain;
  border-radius: $RadiusM ;
  -webkit-border-radius: $RadiusM ;
  -moz-border-radius: $RadiusM ;
  -ms-border-radius: $RadiusM ;
  -o-border-radius: $RadiusM ;
 
}
&.mediumModalTarget{
  width: 308px;
  height: 56px;;
  font: $fontBody;
}
&.largeScript{
  min-width: 280px;
  min-height: 56px;
  font: $fontMain;
  border-radius: $RadiusM;
  -webkit-border-radius: $RadiusM;
  -moz-border-radius: $RadiusM;
  -ms-border-radius: $RadiusM;
  -o-border-radius: $RadiusM;
}
  &.large {
    width: 570px;
    height: 48px;
    font: $fontBody;
  }
  &.largeMode{
    min-width: 310px;
    max-width: 330px;
    font:$fontMain;

    height: 40px;
  }
  &.mediumXL {
    font: $fontP1;
    width: 308px;
    height: 64px;
  }
  &.mediumXXL {
    font: $fontH3;
    font-weight: 400;
    width: 392px;
    height: 72px;
  }
  &.mediumConstructor{
    width: 192px;
    height: 40px;
    font: $fontMain;
  }
  &.smallXL {
    font: $fontH3;
    font-weight: 400;
    width: 297px;
    height: 72px;
  }
  &.smallOperator{
    width: 220px;
    height: 56px;
    font: $fontMain;
  }
  &.smallClient{
    width: 148px;
    height: 40px;
    font: $fontMain;
  }
}
@media(max-width:1024px){
  .button{
    &.mediumXXL{
      width: 308px;
      height: 64px;
      font:$fontP1;
    }
    &.mediumXL{
      
    }
&.smallXL{
  width: 237px;
  height: 64px;
  font: $fontP1;
}
  }
}
@media (max-width:375px){
  .button{
    &.mediumXXL{
      width: 245px;
      height: 56px;
      font:$fontBody;
    }
    &.smallXL{
      width: 198px;
      height: 56px;
      font: $fontBody;
    }
  }
}