.dashboard{ 
   width: 100%;
   padding-right: 104px;

.dashboardCompany{
    margin:16px;
    height: 800px;
    border: 1px solid $borderInputCompleted;
    border-radius: $RadiusXL;
    -webkit-border-radius: $RadiusXL;
    -moz-border-radius: $RadiusXL;
    -ms-border-radius: $RadiusXL;
    -o-border-radius: $RadiusXL;
    display: flex;
    justify-content: center;
    align-items: center;
    p{ font: $fontH2;}
}
}