.dashboard{ 
   width: 100%;
   padding-right: 118px;

.dashboardAnalyst{
    margin:16px;
    height: 986px;
    border: 1px solid $borderInputCompleted;
    border-radius: $RadiusXL;
    -webkit-border-radius: $RadiusXL;
    -moz-border-radius: $RadiusXL;
    -ms-border-radius: $RadiusXL;
    -o-border-radius: $RadiusXL;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{ font: $fontH2;}
}
}