.myScripts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: left;
  width: 100%;
  padding: 56px 118px 0 110px;

  p {
    font: $fontP1;
  }
  .scriptsHead {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .scriptHeadLeft {
      display: flex;
      gap: 32px;
    }
    .buildScripts{
  svg{
    margin-left: 65px;
  }
    }
    
  }
  .allScripts {
    border: 1px solid $borderInputProfile;
    min-height: 752px;
    width: 100%;
    border-radius: $RadiusM;
    -webkit-border-radius: $RadiusM;
    -moz-border-radius: $RadiusM;
    -ms-border-radius: $RadiusM;
    -o-border-radius: $RadiusM;
  }
}
