.table {
  width: 100%;
  border-collapse: collapse;

  thead {
    padding: 20px;
    height: 72px;
    border-bottom: 1px solid $borderInputScripts;
    .th {
      text-align: left;
      padding-left: 25px;
      font: $fontSmall;
    }

    .thNumber {
      width: 50px;
      margin-left: 15px;
    }

    .thName {
      display: flex;
      align-items: center;
      height: 72px;
      padding-left: 25px;

      .inputContainer {
        position: relative;
        width: 196px;

        .inputFilter {
          width: 196px;
          height: 32px;
          margin-left: 25px;
          padding-left: 35px;
          border-radius: $RadiusSm;
          -webkit-border-radius: $RadiusSm;
          -moz-border-radius: $RadiusSm;
          -ms-border-radius: $RadiusSm;
          -o-border-radius: $RadiusSm;
          border: 1px solid $borderInputScripts;
        }

        .inputIcon {
          position: absolute;
          top: 50%;
          left: 30px;
          transform: translateY(-50%);
          pointer-events: none;
        }
      }
    }
    .thCompany {
      width: 23%;
    }

    .thDate {
      width: 23%;
    }

    .thActions {
      width: 11%;
    }
  }
  tbody {
    padding-left: 40px;

    .dataScripts {
      text-align: left;
      height: 72px;
      border-bottom: 1px solid $borderInputScripts;
      td {
        padding-left: 25px;
        font: $fontMain;
        .actions {
          display: flex;
          gap: 10px;
          justify-content: flex-end;
          padding-right: 35px;
         
          .btn {
            background: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
            outline: none;

            &:hover {
              opacity: 0.7;
              transform: scale(1.1);
              cursor: pointer;
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
              -ms-transform: scale(1.1);
              -o-transform: scale(1.1);
}

            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}
