.userProfile{
    display: flex;
    background-color:rgba(239, 245, 245, 1) ;
    height: auto;
    padding: 68px 0 120px 140px;
    justify-content: center;
   gap: 32px;
   .dopInfo{
    display: flex;
    flex-direction: column;
    gap: 20px;
.billingCard, .companyCard{
       background-color: $white;
       width: 320px;
       padding: 40px;
       min-height:152px ;
       border-radius:$RadiusL ;
       -webkit-border-radius:$RadiusL ;
       -moz-border-radius:$RadiusL ;
       -ms-border-radius:$RadiusL ;
       -o-border-radius:$RadiusL ;
       h2{font:$fontH3;
    margin-bottom: 32px;}
}
.company{
font: $fontBody;
width: 240px;
overflow-y: auto;
color:linear-gradient(0deg, #1B1B1B, #1B1B1B),
linear-gradient(0deg, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2)),
linear-gradient(0deg, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2)),
linear-gradient(0deg, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2)),
linear-gradient(0deg, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2));

}
}
}