.filter{
  display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    min-width: 498px;
    border-radius: $RadiusM;
    height: 56px;
    background-color: $bgInputHover;
    -webkit-border-radius: $RadiusM;
    -moz-border-radius: $RadiusM;
    -ms-border-radius: $RadiusM;
    -o-border-radius: $RadiusM;
}