.segmentedControlWrapper {
  position      : relative;
  display       : flex;
  flex-direction: column;
  .label {
    font : $fontMain;
    margin-bottom: 8px;
  }

  .segmentedControl {
    @include flex-container(row, center, center);
    overflow     : hidden;
    //background-color: $bgInputHover;
    width: auto;

   
  }

  .segmentOption {
    text-align: center;
    display: flex;
    font: $fontP1;
    align-items: center;
    cursor: pointer;
    padding: 12px 16px;
    transition: left 0.3s ease;
    position: relative;
    -webkit-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    -ms-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    border-radius:$RadiusM ;
    -webkit-border-radius:$RadiusM ;
    -moz-border-radius:$RadiusM ;
    -ms-border-radius:$RadiusM ;
    -o-border-radius:$RadiusM ;
    &.onIndicator{
      display: flex;
      justify-content: center;
      width: 160.67px;
      text-align: center;
      height: 40px;
      padding: 8px;
    }
    
}
  .segmentOption  svg{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .underline{
    background-color: white;
  }
  .vertical {
    flex-direction: column; 
  
  
    cursor: pointer;
    .segmentOption{
      width: 179px;
      font: $fontMain;
      text-align: left;
 

.active{
 color: $emerald;
 border-radius:$RadiusM ;
 -webkit-border-radius:$RadiusM ;
 -moz-border-radius:$RadiusM ;
 -ms-border-radius:$RadiusM ;
 -o-border-radius:$RadiusM ;
}
}
    .underline{
      height: 1px;
    }
   
  
 
  }

.onIndicator{
height: 56px;
  background: $bgInputHover;

  font:$fontMain;
  color: $textOptionScripts;
 
  &.active {
    background-color: $bgPrimary;
    height: 40px;
  
    font: $fontMain;
    color: $textActiveButton;
    transition: left  0.3s ease;
    -webkit-transition: left  0.3s ease;
    -moz-transition: left  0.3s ease;
    -ms-transition: left  0.3s ease;
    -o-transition: left  0.3s ease;
    border-radius:$RadiusM ;
    -webkit-border-radius:$RadiusM ;
    -moz-border-radius:$RadiusM ;
    -ms-border-radius:$RadiusM ;
    -o-border-radius:$RadiusM ;
}
 }
  .disabled {
    opacity       : 0.5;
    pointer-events: none;
  }

  .underline {
    position        : absolute;
    text-align      : center;
    width           : auto;
    bottom          : -1px;
    height          : 2px;
    background-color: $bgPrimary;
    transition      :
      left 0.3s ease,
      width 0.3s ease;
    border-radius        : $RadiusSm;
    -webkit-border-radius: $RadiusSm;
    -moz-border-radius   : $RadiusSm;
    -ms-border-radius    : $RadiusSm;
    -o-border-radius     : $RadiusSm;
 
  }

}
