.designer{
padding-right: 118px;

    .designerActions{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 0 32px 32px;
       .designerActionsLeft{
        display: flex;
        gap:24px;
       }
    }
    .designerInfoScript{
        display: flex;
        justify-content: space-between;
       
        align-items: center;
        width: 100%;
        height: 72px;
        .leftInfo{
            display: flex;
            gap:32px;
        padding: 32px 0 32px 32px;
        .company{
            z-index: 99;
            min-width: 410px;
            height: 56px;
          
        }
        .nameScript{
            display: flex;
            gap: 16px;
            span{
                display: flex;
                align-items: center;
                padding-left: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                font: $fontMain;
                width: 530px;
                border:1px solid $borderInputProfile;
                border-radius: $RadiusM;
                -webkit-border-radius: $RadiusM;
                -moz-border-radius: $RadiusM;
                -ms-border-radius: $RadiusM;
                -o-border-radius: $RadiusM;
}
        }
    }
    }
    .sectionsEditor{
        width: 100%;
        padding-top: 64px;
        padding-left: 32px;
        display: flex;
        gap: 28px;
    .leftSection{
        padding-left: 32px;
width: 22%;

    }
    .centerSection{
        min-width: 828px;
        display: flex;
 
    }
    .rightSection{
        width: 22%;
    }
    .leftSection, .rightSection, .centerSection{
        height: 100vh;
        border: 1px solid $borderInputProfile;
        border-radius:$RadiusM ;
        -webkit-border-radius:$RadiusM ;
        -moz-border-radius:$RadiusM ;
        -ms-border-radius:$RadiusM ;
        -o-border-radius:$RadiusM ;
}}
}