.select {
    position: relative;
    display: inline-block;
    width: 82px;
    cursor: pointer;

}
.select:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
  
  .selected {
    background-color: white;
    border: 1px solid $borderInputProfile;
    padding: 10px;
    border-radius: $RadiusM;
    -webkit-border-radius: $RadiusM;
    -moz-border-radius: $RadiusM;
    -ms-border-radius: $RadiusM;
    -o-border-radius: $RadiusM;
}
  
  .options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid $borderInputProfile;
    border-radius: $RadiusM;
    border-top: none;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .options li {
    padding: 10px;
    cursor: pointer;
  }
  
  .options li:hover {
    background-color: #f0f0f0; 
  }
  